

/* Import needed .css files */
@import "./Typography.css";
@import "./useful-links.css";
@import "./images.css";

/*Create the classes for the Blog Post cards */
.card, .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    /* border: 2px solid black;
    border-radius: 1rem; */
    /* margin-left: 4.5rem; */
}

.card:hover, .card1:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0.5rem 0.5rem 0.2rem lightslategray;
}

.card-container, .card1-container {
    padding: 0.25rem;
    font-style: italic;
    color: darkcyan;
    font-weight: bold;
}

/* Styling for the body and grid areas */
body {
    
    width: 100%;
    max-width: 1200px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

.container {
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "header header header header" "sidebar content content useful-links1" "sidebar content1 content1 useful-links2" "footer footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

/* Small devices (less than 600px) */
@media (max-width:599px)  {
    .container {
      grid-template-areas: "header header header header" "content content content content" "content1 content1 content1 content1" "sidebar footer useful-links1 useful-links2";
    }
}

/* Medium devices (landscape tablets, 600px to 1000px) */
@media (min-width:600px) and (max-width:850px) {
    .container {
        grid-template-areas: "header header header header" "sidebar content content content" "sidebar content1 content1 content1 " "footer footer useful-links1 useful-links2";
    }
} 

header {
    grid-area: header;
}

.card {
    grid-area: content;
}

.card1 {
    grid-area: content1;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

nav.useful-links1 {
    grid-area: useful-links1;
}

nav.useful-links2 {
    grid-area: useful-links2;
}